In [46]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [92]:
data = pd.read_csv('./breast_cancer.csv')

In [93]:
#top five obs
data.head()

,IDNumber,ClumpThickness,UniformCellSize,UniformCellShape,MarginalAdhesion,EpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1.0,3,1,1,benign
1,1002945,5,4,4,5,7,10.0,3,2,1,benign
2,1015425,3,1,1,1,2,2.0,3,1,1,benign
3,1016277,6,8,8,1,3,4.0,3,7,1,benign
4,1017023,4,1,1,3,2,1.0,3,1,1,benign

In [94]:
del data['IDNumber']

In [95]:
data.columns

Index(['ClumpThickness', 'UniformCellSize', 'UniformCellShape',
       'MarginalAdhesion', 'EpithelialCellSize', 'BareNuclei',
       'BlandChromatin', 'NormalNucleoli', 'Mitoses', 'Class'],
      dtype='object')

In [88]:
#data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ClumpThickness      699 non-null    int64
 1   UniformCellSize     699 non-null    int64
 2   UniformCellShape    699 non-null    int64
 3   MarginalAdhesion    699 non-null    int64
 4   EpithelialCellSize  699 non-null    int64
 5   BareNuclei          683 non-null    float64
 6   BlandChromatin      699 non-null    int64
 7   NormalNucleoli      699 non-null    int64
 8   Mitoses             699 non-null    int64
 9   Class               699 non-null    object
dtypes: float64(1), int64(8), object(1)
memory usage: 54.7+ KB

In [89]:
data.describe()

,ClumpThickness,UniformCellSize,UniformCellShape,MarginalAdhesion,EpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses
count,699.000000,699.000000,699.000000,699.000000,699.000000,683.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.544656,3.437768,2.866953,1.589413
std,2.815741,3.051459,2.971913,2.855379,2.214300,3.643857,2.438364,3.053634,1.715078
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [90]:
data.shape

(699, 10)

In [91]:
data[data.isnull().any(axis=1)].head()

,ClumpThickness,UniformCellSize,UniformCellShape,MarginalAdhesion,EpithelialCellSize,BareNuclei,BlandChromatin,NormalNucleoli,Mitoses,Class
23,8,4,5,1,2,NaN,7,3,1,malignant
40,6,6,6,9,6,NaN,7,8,1,benign
139,1,1,1,1,1,NaN,2,1,1,benign
145,1,1,3,1,2,NaN,2,1,1,benign
158,1,1,2,1,3,NaN,1,1,1,benign

In [96]:
data = data.dropna()

In [97]:
data.shape

(683, 10)

In [99]:
Y = data['Class']
X = data.drop(['Class'], axis=1)

In [100]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'